/** @format test5*/
/** @format */
@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
/* Variables */
:root {
    --primary-accent-color: linear-gradient(to right, #F8C8DC, #94C4FF);
    --secondary-accent-color: linear-gradient(to right, #E2789D, #7C9FD0);
    --primary-background-color: #101010;
    --secondary-background-color: #181818;
    --primary-background-transparent: rgba(35,35,35,0.5);
    --secondary-background-transparent: rgba(0,0,0,0.6);
    --rounded-cards: 15px;
    --blur: 10px;
}

/*This section contains color and style changes from the colorful "Ultrachromic" variant*/
:root {--accent: 98, 121, 205;}
:root {--indicator: var(--accent);}
:root {--selection: var(--accent);}



/*Login background*/
#loginPage {
    background: url(https://i.imgur.com/9vL4iNf.png) !important;
    background-size: cover !important;
}

/*Various box-shadows, might be related to glowstyle*/
.cardBox:not(.visualCardBox) .cardPadder, .cardContent-shadow {
    box-shadow: none !important;
}
body, h1, h2, h3, h4, .textActionButton, .emby-button-foreground  {
    text-shadow: 0px 0px 4px rgba(0,0,0,.6) !important;
}
.blurhashed {
    box-shadow: 0 0 4px 0 rgba(0,0,0,.6) !important;
}

/*Dash and general UI styling*/
.paperList, .visualCardBox {
    background-color: rgba(0, 0, 0, 0.5);
}
.navMenuOption-selected {
    color: white;
}
progress {
    background: rgba(0, 0, 0, 0.5) !important;
}

/*Colors for loading spinner, placeholders, scroll bars*/
.mdl-spinner__layer-1 {border-color: rgba(var(--accent), 1);}
.mdl-spinner__layer-2 {border-color: rgba(var(--accent), .8);}
.mdl-spinner__layer-3 {border-color: rgba(var(--accent), .6);}
.mdl-spinner__layer-4 {border-color: rgba(var(--accent), .5);}


.defaultCardBackground1 {
    background-color: rgba(var(--accent), .5);
}
.defaultCardBackground2 {
    background-color: rgba(var(--accent), .4);
}
.defaultCardBackground3 {
    background-color: rgba(var(--accent), .8);
}
.defaultCardBackground4 {
    background-color: rgba(var(--accent), .7);
}
.defaultCardBackground5 {
    background-color: rgba(var(--accent), .6);
}



/* Setting accent color variable */
.emby-checkbox:checked + span + .checkboxOutline,
.selectionCommandsPanel,
.countIndicator,
.MuiButton-root.MuiButton-containedSizeMedium,
.MuiChip-root.MuiChip-colorInfo:not(.MuiChip-root.MuiChip-colorError) {
    background: var(--primary-accent-color) !important;
}
.MuiAlert-root.MuiAlert-standardInfo {
    background: var(--secondary-accent-color) !important;
}
.emby-checkbox:checked + span + .checkboxOutline,
.emby-checkbox:focus:not(:checked) + span + .checkboxOutline,
.emby-input:focus,
.emby-textarea:focus,
.emby-select-withcolor:focus,
.progressring-spiner {
    border-color: var(--primary-accent-color) !important;
}


.button-link:not(.itemDetailPage .button-link),
.selectLabelFocused,
.textareaLabelFocused,
.inputLabelFocused,
.emby-tab-button:hover,
.metadataSidebarIcon,
.upNextDialog-countdownText,
.MuiSvgIcon-root.MuiSvgIcon-fontSizeInherit {
    color: var(--primary-accent-color) !important;
}
@media (hover: hover) and (pointer: fine) {
    .paper-icon-button-light:hover:not(:disabled) {
        color: var(--primary-accent-color) !important;
        background-color: var(--secondary-accent-color) !important;
    }
}

/* Increase size of Jellyfin logo */
.layout-desktop .pageTitleWithLogo {
    margin-left: 25px !important;
    height: 40px !important;
}

/* Static left drawer */
.layout-desktop .mainDrawer {
    left: 0 !important;
    top: 0 !important;
    width: 250px !important;
    /* Modified background color */
    background: var(--secondary-background-color) !important;
    /* Move drawer behind header */
    z-index: 998 !important;
}

.layout-desktop .mainDrawer-scrollContainer {
    margin-top: 95px !important;
    margin-left: 10px !important;
    scrollbar-width:none;
    filter: drop-shadow(1px 1px 3px rgba(0,0,0,0.4));

}
.layout-mobile .mainDrawer-scrollContainer {
    margin-top: 15px !important;
}
/* Shift content to the right */
.layout-desktop .libraryPage:not(#editItemMetadataPage) {
    margin-left: 250px !important;
}
/* Fix for Jellyfin Media Player */
.quickConnectSettingsContainer {
    margin-left: 250px !important;
}
/* Hide transition on page load */
.layout-desktop .touch-menu-la.transition {
    transition: none !important;
}
/* Hide hamburger button */
.layout-desktop .mainDrawerButton {
    display: none !important;
}
/* Fix for dashboard leaking out of the sections */
.dashboardColumn {
    flex-shrink: inherit;
}
/* Fix for dashboard drawer button height */
.layout-desktop .dashboardDocument .mainDrawer-scrollContainer {
    padding-top: 0 !important;
}
/* Hide home button */
.layout-desktop .headerHomeButton {
    display: none !important;
}
.layout-desktop .dashboardDocument .headerHomeButton {
    display: block !important;
}
/* Fix for video player and login page */
.layout-desktop .hide-scroll .mainDrawer,
.layout-desktop .hideMainDrawer .mainDrawer {
    left: -320px !important;
}
/* Fix for scroll menus on home page */
.emby-scroller {
    margin-right: -2% !important;
}
/* Fix for collection items misalignment */
.layout-desktop .collectionItems .collectionItemsContainer {
    padding-left: 0 !important;
}
/* Dynamic buttons */
.layout-desktop .navMenuOption:hover:not(.navMenuOption-selected) {
    transform: scale(1.05) !important;
}
.layout-desktop .listItem {
    transition: .2s !important;
    border-radius: var(--rounded-cards) !important;
}
.layout-desktop #myPreferencesMenuPage .listItem:hover {
    transform: scale(1.015);
}



/* Rounded cards */
.cardContent,
.cardPadder,
.cardOverlayContainer,
.blurhash-canvas,
.dialog,
.itemSelectionPanel {
    border-radius: var(--rounded-cards) !important;
}
/* Rounded selection menu */
.itemSelectionPanel {
    border: 2px solid var(--primary-accent-color) !important;
}
.itemSelectionPanel .checkboxOutline {
    margin: 7px !important;
}



/* Floating progress bar */
.innerCardFooter {
    border-radius: var(--rounded-cards) !important;
    margin-left: 5px !important;
    margin-bottom: 5px !important;
    padding: 5px 15px 5px 5px !important;
    bottom: 0 !important;
    background: rgba(0,0,0,0.5) !important;
    backdrop-filter: blur(var(--blur)) !important;
}
.fullInnerCardFooter {
    bottom: 5% !important;
    width: 90% !important;
    margin: auto !important;
    border-radius: 100px !important;
    padding: 0 !important;
    backdrop-filter: none !important;
}
.itemProgressBar:not(.playbackProgress):not(.transcodingProgress):not(.backgroundProgress) {
    height: 10px !important;
    background: var(--primary-background-transparent) !important;
    backdrop-filter: blur(2px) !important;
}
.innerCardFooterClear {
    background-color: rgba(0,0,0,0) !important;
}
.innerCardFooter .cardText {
    padding: 0 0 0 10px !important
}
.itemProgressBarForeground:not(.playbackProgress .itemProgressBarForeground):not(.transcodingProgress .itemProgressBarForeground):not(.backgroundProgress .itemProgressBarForeground) {
    background: var(--primary-accent-color) !important;
}
.itemProgressBarForeground {
    border-radius: 100px !important;
}
.transcodingProgress > div {
    background-color: hsla(0,0%,100%,.2) !important;
}
.activeSession .backgroundProgress,
.activeSession .playbackProgress,
.activeSession .transcodingProgress {
    bottom: 10px !important;
    border-radius: 100px !important;
    width: 90% !important;
    left: 5% !important;
}
.sessionNowPlayingInnerContent {
    padding-bottom: 12px !important;
    padding-inline: 17px !important;
}
.sessionAppInfo {
    padding: .5em 0 !important;
}
.sessionNowPlayingInfo {
    padding: .8em 0 !important;
}

.backgroundContainer {
    background-color: #1e1e2e;
}
.backgroundContainer.withBackdrop {
    background: transparent !important;
}

.backdropContainer {
    filter: blur(25px) brightness(75%) saturate(120%) contrast(110%);
    margin-left: -25px;
    margin-top: -25px;
    width: calc(100vw + 50px);
    height: calc(100vh + 50px);
}

/* Green watched indicator */
.playedIndicator {
    background: #409843 !important;
}



/* Rounded left drawer buttons */
.navMenuOption,
.navMenuOption:hover,
.navMenuOption-selected {
    border-radius: 100px !important;
    width: 85% !important;
    margin: auto !important;
    text-align: center !important;
    height: 45px !important;
    margin-top: 3px !important;
    margin-bottom: 3px !important;
}
.navMenuOption:hover:not(.navMenuOption-selected) {
    background-color: rgba(44, 44, 44, 0.7);
}
/* Center icons and text and shift to the left */
.navMenuOptionIcon,
.navMenuOptionText {
    position: inherit !important;
    left: -10% !important;
    margin-top: 0 !important;
}
/* Fix for header buttons */
.layout-desktop .emby-button-foreground {
    top: -9px !important;
}
.layout-tv .emby-button-foreground {
    top: -14px !important;
}



/* Custom button color */
.navMenuOption-selected {
    background: var(--secondary-accent-color) !important;
    color: var(--primary-accent-color) !important;
}

/* Transparent header bar */
.skinHeader {
    background-color: transparent !important;
}
.layout-desktop .skinHeader,
.layout-tv .skinHeader {
    padding-top: 1.5em !important;
}
.layout-tv .skinHeader {
    padding-bottom: 10px !important;
}
/* Rounded header buttons */
.headerTabs,
.headerRight {
    background-color: rgba(0,0,0,0) !important;
    border-radius: 50px !important;
    backdrop-filter: blur(var(--blur)) !important;
}
.layout-desktop .headerTabs,
.layout-desktop .headerRight,
.layout-tv .headerTabs,
.layout-tv .headerRight {
    margin-bottom: 10px !important;
}
.layout-desktop .headerTabs {
    margin-left: 160px !important;
}
/* Button height */
.headerRight,
.emby-tab-button {
    height: 45px !important;
}
/* Lower header and add padding to right buttons */
.layout-desktop .headerRight {
    padding: 0 5px !important;
}
.layout-tv .headerRight {
    padding: 20px 10px !important;
}
/* Move left header back up */
.layout-desktop .headerLeft,
.layout-tv .headerLeft {
    position: relative !important;
    top: -17px !important;
    background-color: rgba(0,0,0,0) !important;
}
/* Mobile fixes */
.layout-mobile .headroom--unpinned {
    transform: translateY(-50%);
}
.layout-mobile .sectionTabs {
    margin-left: auto !important;
    margin-right: auto !important;
    width: auto !important;
}
.layout-mobile .emby-button-foreground {
    top: -2px !important;
}



/* Player modifications */
.upNextContainer, .toastVisible {
    backdrop-filter: blur(var(--blur)) !important;
}
.upNextContainer {
    scale: 50%;
    border-radius: var(--rounded-cards) !important;
    background-color: rgba(0, 0, 0, 0.1) !important;
    margin: 4% !important;
}
.toastVisible {
    border-radius: 30px !important;
    background-color: var(--primary-background-transparent) !important;
}
.sliderBubble {
    border-radius: var(--rounded-cards) !important;
    background-color: var(--secondary-background-transparent) !important;
    backdrop-filter: blur(var(--blur)) !important;
}
.sliderBubble:not(.osdVolumeSliderContainer .sliderBubble):has(.chapterThumbContainer) {
    background-color: #ffffff00 !important;
    top: 25px !important;
    backdrop-filter: unset !important;
}
.mdl-slider-background-flex {
    height: 10px !important;
    margin-top: -5px !important;
    border-radius: 100px !important;
    background: hsla(0,0%,100%,.2) !important;
}
.mdl-slider-background-lower {
    border-radius: 100px !important;
    background-color: var(--primary-accent-color) !important;
}
.mdl-slider::-moz-range-thumb,
.mdl-slider::-webkit-slider-thumb {
    background: #ffffff00 !important;
    height: 10px !important;
    width: 8px !important;
    border-radius: 2px !important;
}
.mdl-slider-hoverthumb:hover::-moz-range-thumb,
.mdl-slider-hoverthumb:hover::-webkit-slider-thumb {
    transform: scaleY(2);
    background: #fff !important;
}
.mdl-slider-background-upper {
    border-top-right-radius: 100px !important;
    border-bottom-right-radius: 100px !important;
    background: hsla(0,0%,100%,.2) !important;
    transform: translateX(-3px) !important;
}
.iconOsdProgressInner {
    background: var(--primary-accent-color) !important;
}

/* Up next card */
.upNextDialog-buttons .upNextDialog-button {
    transition: .2s !important;
}
.upNextDialog-buttons .upNextDialog-button:hover {
    transform: scale(1.1);
}

/* Support for Jellyscrub plugin */
.chapterThumbContainer {
    background: none !important;
    border-radius: var(--rounded-cards) !important;
    box-shadow: unset !important;
}
.chapterThumb {
    border-radius: var(--rounded-cards) !important;
    margin-bottom: 47px !important;
    box-shadow: 0 0 1.9vh #000 !important;
}
.chapterThumbTextContainer {
    background: none !important;
}
.chapterThumbText {
    text-align: center !important;
}
.chapterThumbText-dim {
    display: none !important;
}

/* Support for IntroSkipper plugin */
.skipIntro {
    transition: 0.2s;
    border-radius: 100px !important;
    padding: 5px 10px !important;
    backdrop-filter: blur(var(--blur)) !important;
    border: none !important;
}
.skipIntro:hover {
    box-shadow: unset !important;
    transition: .2s;
    transform: scale(1.05);
}
.skipIntro .paper-icon-button-light:hover:not(:disabled) {
    color: #FFF !important;
}
.sliderMarker {
    display: none !important;
}



/* Settings and dashboard modifications */
.emby-input,
.emby-textarea,
.paperList,
.listItem:hover,
.subtitleappearance-preview {
    border-radius: var(--rounded-cards) !important;
}
.button-submit,
.emby-select,
.checkboxOutline,
.btnRefresh,
#btnShutdown,
.raised {
    border-radius: 100px !important;
}
.button-submit {
    background: var(--primary-accent-color) !important;
}
/* Modify username placement on profile page */
.layout-desktop #userProfilePage .readOnlyContent div:not([class]), div[class=""]{
    align-items: initial !important;
}
.layout-desktop .username {
    margin: 0 0 10px 10px !important;
}
/* Red shutdown button */
#btnShutdown {
    background: #AE3739 !important;
}
/* Remove border under certain dashboard items */
.listItem-border {
    border: 0 !important;
}
/* Add padding to list items */
.layout-desktop .listItem,
.layout-tv .listItem {
    padding-inline: 15px !important;
}
/* Rounded dashboard cards */
.cardBox {
    border-radius: var(--rounded-cards) !important;
}
/* Removed ugliness of border-card styling */
.layout-desktop fieldset.verticalSection-extrabottompadding,
.layout-tv fieldset.verticalSection-extrabottompadding {
    border-radius: var(--rounded-cards) !important;
    border-color: #3B3B3B !important;
    padding: 10px 35px !important;
}
/* Rounded tab selections in dashboard */
.layout-desktop .localnav {
    border-radius: 100px !important;
    background: #202020 !important;
    width: fit-content !important;
}
.layout-desktop a[data-role="button"] {
    background: none !important;
}
.layout-desktop div[data-role="controlgroup"] a.ui-btn-active {
    background: var(--primary-accent-color) !important;
    border-radius: 100px !important;
}
.layout-desktop .dashboardDocument .mainAnimatedPage {
    left: 260px !important;
}
#libraryDisplayPage,
#metadataImagesConfigurationPage,
#metadataNfoPage {
    margin-top: 40px !important;
}
#mediaLibraryPage {
    margin-top: 10px !important;
}
/* Re-align active devices in dashboard */
.activeDevices.itemsContainer {
    margin: 0 !important;
}
.playbackProgress > div {
    background: var(--primary-accent-color) !important;
}
/* IntroSkipper settings */
.layout-desktop summary {
    border-radius: 100px !important;
}
.layout-desktop fieldset.verticalSection-extrabottompadding,
.layout-tv fieldset.verticalSection-extrabottompadding {
    padding: 10px 35px 20px 35px !important;
}
#intro_reqs,
#edl,
#silence,
#support {
    padding-bottom: 10px !important;
}
/* Dashboard fixes for 10.9.x */
.layout-desktop #userProfilesPage {
    left: 260px !important;
}
.MuiAlert-message {
    color: #fff !important;
}
.MuiDataGrid-root.MuiDataGrid-withBorderColor {
    border-radius: var(--rounded-cards) !important;
}
.infoBanner {
    border-radius: var(--rounded-cards) !important;
}
.MuiToggleButton-root.MuiToggleButtonGroup-groupedHorizontal {
    border-radius: var(--rounded-cards);
    padding-inline: 15px !important;
}
.MuiAppBar-root.MuiAppBar-positionFixed {
    padding: 10px !important;
}
.MuiAppBar-root.MuiAppBar-positionFixed.MuiAppBar-colorPrimary {
    background: var(--primary-background-transparent) !important;
    backdrop-filter: blur(var(--blur)) !important;
}
.MuiList-root.MuiList-subheader {
    padding-left: 10px !important;
}
.MuiList-subheader .MuiListItem-root.MuiListItem-gutters {
    width: 85% !important;
    margin-inline: auto !important;
}
.MuiList-subheader .MuiListItemButton-root.MuiListItemButton-gutters {
    border-radius: 100px !important;
    margin: 2px 0 !important;
    transition: .2s !important;
    height: 45px !important
}
.MuiList-subheader .MuiListItemButton-root.MuiListItemButton-gutters:not(.Mui-selected) .MuiListItemIcon-root,
.MuiList-subheader .MuiListItemButton-root.MuiListItemButton-gutters:not(.Mui-selected) {
    color: #D1D1D1
}
.MuiList-subheader .MuiListItemButton-root.MuiListItemButton-gutters:hover:not(.Mui-selected) {
    transform: scale(1.05) !important;
    background: rgba(44, 44, 44, 0.7) !important;
}
.MuiListItemButton-root.Mui-selected {
    background: var(--secondary-accent-color) !important;
}
.MuiListItemButton-root.Mui-selected .MuiListItemIcon-root,
.MuiListItemButton-root.Mui-selected {
    color: var(--primary-accent-color) !important;
}
.MuiPaper-root.MuiDrawer-paperAnchorDockedLeft {
    border-right: none !important;
    background: var(--secondary-background-color) !important;
    width: 250px !important;
}
.MuiListItemIcon-root.MuiSvgIcon-fontSizeMedium {
    color: inherit !important;
}
.MuiPaper-root.MuiPopover-paper {
    background: #252525 !important;
    color: #D1D1D1 !important;
    border-radius: var(--rounded-cards) !important;
}
.listItemIcon:not(.listItemIcon-transparent):not(.notification_important) {
    background: var(--secondary-accent-color) !important;
    color: var(--primary-accent-color) !important;
}
.MuiList-root:not(.MuiList-subheader) .MuiListItemButton-root.MuiListItemButton-gutters {
    padding: 20px 38px 10px 38px !important;
}
.MuiCollapse-root.MuiCollapse-vertical .MuiListItemButton-root.MuiListItemButton-gutters {
    width: 85% !important;
    margin-inline: auto !important;
    padding: 8px 16px !important;
}



/* Metadata editor fixes */
.layout-desktop .editPageSidebar {
    width: 25vw !important;
}
.layout-desktop .editPageInnerContent {
    width: 74vw !important;
}
.jstree-default-large .jstree-node {
    line-height: 35px !important;
}
.jstree-default .jstree-wholerow-clicked {
    background: var(--secondary-accent-color) !important;
}
.jstree-wholerow-hovered {
    background: var(--primary-background-transparent) !important;
}
.jstree-children {
    margin-left: -10px !important;
}
#editItemMetadataPage .btnHeaderSave {
    background: var(--primary-accent-color) !important;
    border-radius: 100px !important;
    height: 40px !important;
    color: white !important;
}

/** @format */
#itemDetailPage {
    --card-width: 14vw;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    overflow-y: auto;
    padding: 3.2em !important;
}
#itemDetailPage .mediaInfoItem.mediaInfoOfficialRating {
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.8);
    color: #000;
    border: none;
    font-weight: 600;
    white-space: nowrap;
}
#itemDetailPage .detailRibbon {
    height: 32vh;
    margin-top: 0;
    background: transparent;
    font-size: 2.2vh;
    position: static !important;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}
#itemDetailPage .detailRibbon .itemMiscInfo {
    margin-bottom: 0 !important;
}
#itemDetailPage .infoWrapper .nameContainer {
    display:none;
}

#itemDetailPage .infoWrapper {
    display: grid;
    grid-template-areas: "img text" "img info" "img info";
    grid-template-columns: var(--card-width) 1fr;
    column-gap: 2em;
    row-gap: 1em;
    grid-template-rows: 1fr auto auto;
    flex: unset !important;
    align-items: end;
}

#itemDetailPage .infoWrapper .itemMiscInfo {
    grid-area: img;
    z-index: 2;
    backdrop-filter: blur(10px);
    font-style: italic;
    font-family: initial;
    font-size: 4.0vh;
    font-weight: bolder;
    width: var(--card-width);
    justify-content: center;
    border-radius: 15px;
}
#itemDetailPage .infoWrapper .itemMiscInfo .starRatingContainer{
    display: none;
}

#itemDetailPage .infoWrapper .itemName {
    font-size: 3em;
    color: white;
    display:none;
}
#itemDetailPage .infoWrapper .itemName.subtitle {
    font-size: 1.4em;
    margin: 0 !important;
    padding: 0 !important;
    display:none;
}

#itemDetailPage .itemTags {
    display:none !important;
}

div .detailPagePrimaryContent {
    padding-bottom: 24vh !important;
}

#itemDetailPage .detailImageContainer {
    grid-area: img;
    padding: 0 !important;
    width: var(--card-width);
}
#itemDetailPage .detailImageContainer .card {
    width: 100%;
    position: static !important;
    border-radius: 10px;
}
#itemDetailPage .detailImageContainer .card .cardBox {
    margin: 0 !important;
}
#itemDetailPage .detailPageWrapperContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    filter: drop-shadow(1px 1px 3px rgba(0,0,0,0.4));
}
#itemDetailPage .detailPageWrapperContainer > * {
    padding: 0 !important;
    background: transparent;
}
#itemDetailPage .detailPageContent {
    padding-left: 0 !important;
}
#itemDetailPage .mainDetailButtons .emby-button:not([data-action=resume], [data-action=play]) {
    background: transparent !important;
}
#itemDetailPage .detailLogo {
    display: none;
}
#itemDetailPage .emby-button {
    background: transparent !important;
    border-radius: 10vh;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    margin-right: 0.5em !important;
}
#itemDetailPage .emby-button[is=emby-linkbutton] {
    color: unset;
}
#itemDetailPage .emby-button:not([is=emby-linkbutton]):hover {
    background: rgba(255, 255, 255, 0.1) !important;
    color: white;
}
#itemDetailPage .emby-button:not([is=emby-linkbutton])::after {
    display: none;
}
#itemDetailPage .emby-button[title=Play], #itemDetailPage .emby-button[title=Resume] {
    background: white !important;
    color: black;
    padding: 0.4em 1em !important;
    gap: 0.6em;
    margin-right: 0.5em;
    width: var(--card-width);
}
#itemDetailPage .emby-button[title=Play]::after, #itemDetailPage .emby-button[title=Resume]::after {
    content: attr(title);
    display: block;
    opacity: 1;
    background: transparent;
    position: static;
    font-weight: 500;
    height: fit-content;
    font-size: 1.5em;
    width: fit-content;
}
#itemDetailPage .emby-button[title=Play]:hover, #itemDetailPage .emby-button[title=Resume]:hover {
    background: hsl(0, 0%, 80%) !important;
    color: black;
}
#itemDetailPage .childrenItemsContainer.itemsContainer.vertical-list {
    padding: 0;
}
#itemDetailPage .childrenItemsContainer.itemsContainer.vertical-list .listItem .paper-icon-button-light[data-action=menu]::after {
    content: "";
    margin-left: 100%;
}
#itemDetailPage .childrenItemsContainer.itemsContainer.vertical-list .listItem .paper-icon-button-light.listItemImageButton {
    aspect-ratio: 1;
    border-radius: 100%;
    background: linear-gradient(130deg, var(--accent1-light), var(--accent2-light));
    color: white;
    opacity: 0;
    box-shadow: 0 0 0 10em rgba(255, 255, 255, 0.1);
    transition: opacity 250ms;
}
#itemDetailPage .childrenItemsContainer.itemsContainer.vertical-list .listItem[data-type=Episode] {
    padding: 0;
    margin: 0 !important;
    background: transparent !important;
}
#itemDetailPage .childrenItemsContainer.itemsContainer.vertical-list .listItem[data-type=Episode] .listItem-content {
    display: grid;
    grid-template-columns: 25% 1fr 15%;
    align-content: center;
    align-items: center;
}
#itemDetailPage .childrenItemsContainer.itemsContainer.vertical-list .listItem[data-type=Episode] .listItem-content:hover .listItemImageButton {
    opacity: 1;
}
#itemDetailPage .childrenItemsContainer.itemsContainer.vertical-list .listItemImage-large {
    justify-self: center;
    margin: 2em !important;
    border-radius: 10px;
    overflow: hidden;
    height: 12em;
}
#itemDetailPage .listItem {
    flex-flow: column !important;
}
#itemDetailPage .listItem[data-mediatype=Audio] {
    flex-flow: row !important;
    grid-column: auto/span 3;
}
#itemDetailPage .detailsGroupItem {
    max-width: 100% !important;
}
#itemDetailPage .detailSection {
    display: grid;
    grid-template-areas: "content selector" "detailGroup detailGroup" "recording recording";
    grid-template-columns: 1fr 40%;
    gap: 2em;
    padding-left: 18vw !important;
}
#itemDetailPage .detailSection .itemDetailsGroup {
    grid-area: detailGroup;
}

#itemDetailPage .detailSection .itemDetailsGroup .genresGroup {
    display: none;
}

#itemDetailPage .detailSection .detailSectionContent .seriesAirTime {
    display: none;
}

#itemDetailPage .detailSection .detailSectionContent .itemTags {
    display: none;
}

#itemDetailPage .detailSection .recordingFields {
    grid-area: recording;
}
#itemDetailPage .detailSection .detailSectionContent {
    grid-area: content;
}
#itemDetailPage .detailSection .trackSelections {
    grid-area: selector;
}
#itemDetailPage .tagline {
    border-left: 0.25em solid rgb(255, 255, 255);
    padding: 0 0.5em;
    color: white;
}
#itemDetailPage:has(.parentName a[data-type=Series]):not(:has(.listItem)) {
    --card-width: 24vw;
}
#itemDetailPage:has(.parentName a[data-type=Series]):not(:has(.listItem)) .detailPagePrimaryContainer {
    margin-top: 8.5vh;
}
#itemDetailPage:has(.parentName a[data-type=Series]):not(:has(.listItem)) .detailRibbon {
    height: 43vh;
}

.layout-mobile #itemDetailPage .detailSection {
    display: flex;
    flex-direction: column;
    margin-top: 2em;
    font-size: 1.3em;
}



/* Transparent ribbon bar */
.detailRibbon {
    background: transparent !important;
}

/* Alternative mobile group section card */
.layout-mobile .itemDetailsGroup {
    background: var(--secondary-background-color) !important;
    padding: 15px 20px 5px 20px !important;
    border-radius: var(--rounded-cards) !important;
}

/* Live TV */
/* Modified background color of active guide cells */
.programCell-active {
    background: var(--secondary-background-color) !important;
}
/* Repositioned record button */
.recordingFields {
    margin: 5px 0 -7px 0 !important;
}
.recordingButton {
    height: 40px !important;
}
.recordingIcon {
    color: red !important;
}


/* Music Player */
.layout-desktop .appfooter {
    margin-left: 250px !important;
}
.layout-desktop .appfooter .nowPlayingBarInfoContainer {
    margin-left: 10px !important;
}
.layout-desktop .volumeOsd {
    border-radius: var(--rounded-cards) !important;
    background: var(--secondary-background-transparent) !important;
}
.layout-desktop .nameContainer .musicParentName {
    margin-top: 18px !important;
    margin-right: 22px !important;
}
.layout-desktop .appfooter .nowPlayingBar {
    margin-top: 20px !important;
}
.layout-desktop .appfooter .nowPlayingBar .nowPlayingBarPositionContainer {
    top: -15px !important;
}



/* Fix for scaling issues */
@media (width: 1600px) {
    .layout-desktop .headerRight {
        margin-bottom: 0 !important;
    }
    .layout-desktop .emby-button-foreground {
        top: -4px !important;
    }
}
@media (max-width: 1599px) {
    .layout-desktop .pageTitleWithLogo {
        margin-left: 25px !important;
    }
    .layout-desktop .headerTabs {
        margin-top: -65px !important;
    }
    .layout-desktop .headerRight {
        margin-right: 15px !important;
    }
    .layout-desktop .sectionTabs {
        width: auto !important;
        align-self: center !important;
    }
    .layout-desktop .emby-button-foreground {
        top: -2px !important;
    }
}



/* Fixes for TV Layout */
.layout-tv .sectionTabs {
    width: auto !important;
}
.layout-tv .headerLeft {
    padding: 5px !important;
}



/* Login page */
.layout-desktop #loginPage {
    display: flex;
    justify-content: center;
    align-items: center;
}
.layout-desktop #loginPage .padded-left.padded-right.padded-bottom-page.margin-auto-y {
    background: var(--secondary-background-color) !important;
    width: 400px !important;
    border-radius: 25px !important;
    padding: 50px !important;
}
.layout-desktop #loginPage .manualLoginForm .btnCancel {
    position: absolute !important;
    background: none !important;
    width: 100px !important;
    margin-left: -10px !important;
    margin-top: 70px !important;
    text-align: left !important;
}
.layout-desktop #loginPage .visualLoginForm {
    position: relative !important;
    background: var(--secondary-background-color) !important;
    z-index: 1000 !important;
}
.layout-desktop #loginPage .btnForgotPassword {
    background: none !important;
    font-weight: normal !important;
    width: 150px !important;
    text-align: right !important;
    position: absolute !important;
    margin-left: 255px !important;
    margin-top: -195px !important;
    font-size: smaller !important;
    color: rgba(255, 255, 255, 0.5) !important;
    z-index: 1 !important;
}
.layout-desktop #loginPage .loginDisclaimerContainer {
    top: 130px !important;
    position: relative !important;
    left: -50px !important;
    width: 500px !important;
    margin-top: -35px !important;
}
.layout-desktop #loginPage .squareCard {
    width: 25% !important;
    font-size: smaller !important;
}
@media (max-width: 100em) {
    .layout-desktop #loginPage .squareCard {
        width: 20% !important;
    }
    .layout-desktop #loginPage .padded-left.padded-right.padded-bottom-page.margin-auto-y {
        width: 600px !important;
    }
    .layout-desktop #loginPage .btnForgotPassword {
        margin-left: 450px !important;
    }
    .layout-desktop #loginPage .disclaimerContainer {
        width: 700px !important;
    }
}
@media (max-width: 87.5em) {
    .layout-desktop #loginPage .squareCard {
        width: 20% !important;
    }
}
@media (max-width: 75em) {
    .layout-desktop #loginPage .squareCard {
        width: 20% !important;
    }
}
@media (max-width: 43.75em) {
    .layout-desktop #loginPage .squareCard {
        width: 20% !important;
    }
}



/* Dialog box */
.dialog {
    background-color: var(--secondary-background-color) !important;
}
.actionSheetTitle {
    margin: 10px 20px !important;
}



/* Dynamic backdrop support */

/* Translucent cards */
.layout-desktop #itemDetailPage:not(.noBackdropTransparency) .detailsGroupItem,
.layout-desktop #itemDetailPage:not(.noBackdropTransparency) .detailSectionContent,
.layout-desktop #itemDetailPage:not(.noBackdropTransparency) .trackSelections {
    background: rgba(0,0,0,0) !important;
}

/* Transparent drawer */
.layout-desktop .backgroundContainer.withBackdrop + div .mainDrawer {
    background: linear-gradient(to right, #10101090, transparent) !important;
}
.layout-desktop:has(#itemDetailPage.noBackdropTransparency) .mainDrawer {
    background: var(--secondary-background-color) !important;
}
/* Fix for JMP */
@supports not selector(:has(*)) {
    .layout-desktop .backgroundContainer.withBackdrop + div .mainDrawer {
        background: transparent !important;
    }
    #itemDetailPage.noBackdropTransparency::after {
        position: fixed;
        content: "";
        top: 0;
        left: 0;
        height: 100%;
        width: 250px;
        background: var(--secondary-background-color);
    }
}

.itemBackdrop {
    height: 31vh !important;
    display: inherit;
}
.detailLogo {
    display: none;
}
.layout-desktop .detailRibbon {
    margin-top: 0;
    padding-top: .5em;
    padding-bottom: .5em;
}

.layout-mobile .detailLogo {
    display: none !important;
}

#itemDetailPage .itemName.infoText.parentNameLast {
    display: none;
}

.hide+.detailPageWrapperContainer .itemName {
    display: block !important;
}

.itemName {
    margin: .5em 0 !important;
}

.layout-mobile #itemDetailPage .itemName.infoText.parentNameLast {
    display: block;
}

/** @format */
.layout-mobile #itemDetailPage .itemBackdrop {
    display: block !important;
}
.layout-mobile #itemDetailPage .parentName,
.layout-mobile #itemDetailPage .parentNameLast {
    display: block !important;
    font-size: 1.6em !important;
}
.layout-mobile #itemDetailPage .detailLogo:not(.hide) {
    display: none !important;
}

body #itemDetailPage .parentName,
body #itemDetailPage .parentNameLast {
    font-size: 0 !important;
}
body #itemDetailPage .detailLogo {
    left: 18.8vw;
    height: 30vh;
    background-position: left bottom !important;
    -webkit-filter: drop-shadow(0 0 10px rgba(2, 2, 2, 0.75));

}
body #itemDetailPage:has(.itemName.subtitle) .detailLogo {
    top: 9.5vh;
}
body #itemDetailPage .nameContainer .parentName a {
    position: absolute;
    top: 9.5vh;
    left: 18.8vw;
    border-radius: 0 !important;
    width: 25vw;
    height: 30vh;
    font-size: 0;
}
body #itemDetailPage .detailLogo:not(.hide) {
    display: block !important;
    position: absolute;
    flex-shrink: 0;
    flex-grow: 0;
    background-position: left;
}
body #itemDetailPage .detailLogo.hide + .detailPageWrapperContainer > .detailPagePrimaryContainer {
    margin-top: 10vh;
}
body #itemDetailPage .detailLogo.hide + .detailPageWrapperContainer > .detailPagePrimaryContainer > .infoWrapper > .nameContainer > .itemName {
    font-size: 2.5em !important;
    display: block !important;
}
body #itemDetailPage:has(.parentName a[data-type=Series]):not(:has(.listItem)) .nameContainer .parentName a,
body #itemDetailPage:has(.parentName a[data-type=Series]):not(:has(.listItem)) .detailLogo {
    top: 2vh;
    left: 28.8vw;
}


html,
body,
h1,
h2,
h2,
h4,
h5 {
    font-family: "Plus Jakarta Sans", sans-serif;
}

/*# sourceMappingURL=main.css.map */
